* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  font-family: system-ui, Arial, sans-serif;
  background: #b0cce7;
  color: #1b2c3a;
}

h1, h3 {
  text-align: center;
}

form, .controls, .filters, #summary, #creditSummary {
  background: #a5aae9;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(23, 16, 65);
}

#date, #product, #quantity, #price, #customer, #filterDate, #filterPayment, #paymentType, #notes, #isCredit {
  background: #babde9;
  padding: 12px;
  border-radius: 8px;
  border-color: #1b2c3a;
}

checkbox {
  width: 2rem;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  color: #040a61;
}

label {
  display: flex;
  gap: 8px;
  align-items: center;
}

button {
  background: #1b2c3a;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
}

button:hover {
    opacity: 0.7;
}

.table-wrapper {
  overflow-x: auto;
  background: #babde9;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 850px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 13px;
}

th {
  background: #a5aae9;
}

@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
}
